<!DOCTYPE html>
<html>
<head>
	<title>BadAss Blog Page</title>
</head>
<body>
<nav>
	<a href="/">Home</a>
	<a href="/authors">Authors</a>
	<a href="/authors/new">New Author</a>
	<a href="/posts">Posts</a>
	<a href="/posts/new">New Post</a>
</nav>

	<h1>Welcome to my blog</h1>

</body>
</html>