<!DOCTYPE html>
<html>
<head>
	<title>New Post Page</title>
</head>
<body>
<nav>
	<a href="/">Home</a>
	<a href="/authors">Authors</a>
	<a href="/authors/new">New Author</a>
	<a href="/posts">Posts</a>
	<a href="/posts/new">New Post</a>
</nav>

	<h1>Please enter a new post</h1>
	<form action="/posts" method="post">
		<input type="text" name="title" placeholder="Please enter the title">
		</br>
		<textarea name="content" placeholder="Please enter your content here"></textarea>
		<button>Save</button>
	</form>

</body>
</html>