<!DOCTYPE html>
<html>
<head>
	<title>New Post Page</title>
</head>
<body>
<nav>
	<a href="/">Home</a>
	<a href="/authors">Authors</a>
	<a href="/authors/new">New Author</a>
	<a href="/posts">Posts</a>
	<a href="/posts/new">New Post</a>
</nav>

	<h1>This page will show all the posts</h1>
  <div>
    <h2>
      <%= post.title %>
    </h2>
    <h2>
      <%= post.content %>
  </div>
  <div>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
      <button class="delete">DELETE</button>
    </form>
  </div>
</body>
</html>