<!DOCTYPE html>
<html>
<head>
	<title>New Post Page</title>
</head>
<body>
<nav>
	<a href="/">Home</a>
	<a href="/authors">Authors</a>
	<a href="/authors/new">New Author</a>
	<a href="/posts">Posts</a>
	<a href="/posts/new">New Post</a>
</nav>

	<h1>Please enter a new post</h1>
	<form action="/authors" method="post">
		<input type="text" name="author[firstName]" placeholder="First name">
		</br>
		<input type="text" name="author[lastName]" placeholder="Last name">
		</br>
		<input type="text" name="author[age]" placeholder="Age">
		</br>
		<button>Save</button>
	</form>

</body>
</html>